header{
	.block-search{
		margin-top: 30px;
		margin-bottom: 15px;
		.form-search{
			border: 1px solid #e1e1e1;
			display: table;
			width: 100%;
			input.field-search{
				padding: 10px;
				border: none;
				display: inline-block;
				height: 28px;
				width: calc(100% - 28px);
			}
			input.field-send{
				display: inline-block;
				background: url("../img/icon/icon-3.png") no-repeat center center #f8be22;
				text-indent: -999999px;
				width: 28px;
				height: 28px;
				border: none;
			}
		}
	}
	.block-workTime{
		padding-left: 25px;
		background: url("../img/icon/icon-1.png") no-repeat 3px 0 transparent;
		font-size: 13px;
		font-weight: 300;
		span{
			display: inline-block;
		}
	}
	.block-phone{
		margin-top: 25px;
		border-right:1px solid #e1e1e1;
		margin-right: -10px;
		a{
			display: table;
			padding-left: 20px;
			background: url("../img/icon/icon-2.png") no-repeat 0 center transparent;
			font-weight: 200;
			font-size: 16px;
			color: #707070;
			span{
				color: #212121;
				font-size: 28px;
				font-weight: 400;
			}
		}
	}
	.block-contact{
		margin-top: 30px;
		a{
			font-size: 13px;
			color: #707070;
			font-weight: 200;
			display: table;
			padding-left: 15px;
			margin-top: 10px;
			&:first-child{
				margin-top: 0;
			}
			&.adres{
				background: url("../img/icon/icon-4.png") no-repeat 0 center transparent;
			}
			&.mail{
				background: url("../img/icon/icon-5.png") no-repeat 0 center transparent;
			}
			&.skype{
				background: url("../img/icon/icon-6.png") no-repeat 0 center transparent;
			}
		}
	}
	.block-miniCart{
		margin-top: 50px;
		#dropdownCart{
			background: url("../img/icon/icon-7.png") no-repeat 0 0 transparent;
			padding-left: 50px;
			border: none;
			text-align: left;
			outline:none;
			box-shadow:none;
			span{
				display: block;
			}
		}
		.dropdown-menu{
			.empty{
				display: block;
				color: #000;
				font-size: 28px;
				text-align: center;
				padding: 10px;
			}
		}
	}
}
//==========================================
.block-brend{
	.title{
		color: #363636;
		text-decoration: underline;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 600;
	}
	ul{
		display: block;
		border-top: 1px solid #e1e1e1;
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		li{
			display: inline-block;
			text-align: center;
			width: 13.8%;
			vertical-align: middle;
			padding: 0 5px ;
		}
	}
}
//==========================================
.block-newProduct{
	.title{
		font-size: 40px;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1;
		color: #363636;
		display: table;
		margin: 0 auto 30px auto;
		border-bottom:2px solid #363636;
		@media (max-width:750px) {font-size: 33px; }
	}
	.item{
		border: 1px solid #e1e1e1;
		padding: 20px;
		margin: 3px;
		margin-bottom: 25px;
		position: relative;
		&:hover{
			border: 4px solid #f8be22;
			margin: 0;
		}
		.ilabel{
			position: absolute;
			left: 0;
			top: 40px;
			z-index:10;
			color: #fff;
			font-size: 16px;
			font-weight: 600;
			padding: 5px 0 5px 10px;
			width: 105px;
			&.sale{
				background: url("../img/label-red.png") no-repeat 0 center transparent;
			}
			&.new{
				background: url("../img/label-green.png") no-repeat 0 center transparent;
			}
		}
		.name{
			text-align: center;
			height: 42px;
			position: relative;
			z-index:20;
			a{
				color: #707070;
				font-size: 15px;
				font-weight: 600;
				text-align: center;
			}
		}
		.img-wrap{
			text-align: center;
			height: 130px;
			display: table;
			width: 100%;
			padding-bottom: 5px;
			margin-bottom: 15px;
			border-bottom: 1px solid #e1e1e1;
			img{
				max-height: 130px;
			}
		}
		.price{
			color: #1e3071;
			font-size: 22px;
			margin-bottom: 10px;
		}
		.price-off{
			position: relative;
			color: #b9b9b9;
			font-size: 14px;
			display: table;
			&:after{
				height: 1px;
				content: "";
				display: block;
				width: 100%;
				background: #1e3071;
				position: absolute;
				z-index: 10;
				top: 50%;
			}
		}
		.buy{
			a{
				color: #363636;
				font-size: 14px;
				font-weight: bold;
				width: 80%;
				background: #f8be22;
				text-decoration: none;
				text-align: center;
				display: block;
				margin: 20px auto 0 auto;
				padding: 10px 0;
			}
		}
	}
}
//==========================================
.block-preimu{
	.title{
		font-size: 40px;
		text-align: center;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1;
		color: #363636;
		display: table;
		margin: 0 auto 30px auto;
		border-bottom:2px solid #363636;
		@media (max-width:750px) {font-size: 33px; }
	}
	.img-wrap{
		text-align: center;
		height: 170px;
	}
	.name{
		text-align: center;
		color: #363636;
		font-size: 20px;
		font-weight: 400;
		margin-bottom: 20px;
		.blue{
			color: #1e3071;
		}
	}
}
//==========================================
.block-blog{
	.title{
		color: #363636;
		text-decoration: underline;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 600;
	}
	&>.row{
		border-top: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.row-item .row:first-child .item{
		margin-top: 0;
	}
	.item-big{
		position: relative;
		display: table;
		margin: 0 auto 20px;
		.name{
			text-align: right;
			text-transform: uppercase;
			color: #fff;
			position: absolute;
			top: 45px;
			right: 40px;
			z-index:10;
			font-size: 18px;
			font-weight: 400;
			padding: 20px;
			background: rgba(255,195,34,.8);
			a{
				text-align: right;
				text-transform: uppercase;
				color: #fff;
				font-size: 18px;
				font-weight: 400;
			}
		}
		.data-mor{
			position: absolute;
			left: 0;
			bottom: 25px;
			z-index:10;
			.data{
				background: url("../img/data-bg.png") no-repeat 0 0 transparent;
				color: #fff;
				display: inline-block;
				width: 110px;
				padding: 10px;
			}
			.more{
				background: url("../img/link-bg.png") no-repeat 0 0 transparent;
				display: inline-block;
				width: 268px;
				margin-left: -20px;
				padding: 10px 0 10px 35px;
				a{
					color: #fff;
					text-transform: uppercase;
					font-weight: bold;
					padding-right: 25px;
					background: url("../img/arr.png") no-repeat right center transparent;
				}
			}
		}
	}
	.item{
		position: relative;
		margin-top: 25px;
		@media (max-width: 768px) {
			.img-wrap{
				text-align: center;
				width: 100%;
			}
		}
		.name-data{
			position: absolute;
			bottom: 0;
			padding: 10px;
			width: 100%;
			background: rgba(255,195,34,.8);
			a{
				text-transform: uppercase;
				color: #fff;
				font-size: 16px;
				font-weight: 600;
			}
			.data{
				color: #363636;
				font-size: 13px;
			}
		}
	}
}
//==========================================
.block-soc{
	.title{
		border-bottom: 1px solid #d8d8d8;
		color: #363636;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 15px;
	}
	.row>div{
		margin-bottom: 20px;
		text-align: center;
	}
}
.block-submit{
	background: url("../img/sub.jpg") no-repeat center 25px #f7f7f7;
	padding: 135px 10px 10px 10px;
	text-align: center;
	color: #363636;
	font-size: 14px;
	.field-mail{
		border: 1px solid #d8d8d8;
		background: url("../img/icon/icon-10.png") no-repeat 5px center #fff;
		padding: 5px 0 5px 30px;
		margin: 10px 0 ;
		color: #363636;
		width: 100%;
	}
	.field-submit{
		text-align: center;
		font-weight: bold;
		color: #363636;
		background: #ffc322;
		padding: 8px 0;
		width: 100%;
		border: none;
	}
	span{
		font-size: 13px;
	}
}
//==========================================
.block-pay{
	border-left: 1px solid #ffc322;
	padding-left: 20px;
}
.block-foot-cont{
	.adres{
		color: #9a9a9a;
		padding-left: 20px;
		background: url("../img/icon/icon-4.png") no-repeat 0 center transparent;
	}
	.phone{
		padding-left: 20px;
		background: url("../img/icon/icon-2.png") no-repeat 0 10px transparent;
		a{
			display: table;
			font-weight: 200;
			font-size: 16px;
			color: #707070;
			span{
				color: #212121;
				font-size: 22px;
				font-weight: 400;
			}
		}
	}
	.soc{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			display: inline-block;
		}
	}
	span{
		color: #9a9a9a;}
}
//==========================================