@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,cyrillic-ext,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic&subset=latin,cyrillic-ext,cyrillic);
//=======================================
html,body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
}
body{
	font-family: 'Roboto', sans-serif;
	color: #696969;
	font-size: 14px;
	//font-weight: 100;
}
button:focus{
	outline: none;}
a{
	color: #f8be22;
}
img{
	max-width: 100% !important;
}
.wrapper{
	position: relative;
	min-height: 100%;
}
.content-wrapper{
	padding-bottom: 215px;
}

//=======================================
header{
	.head-top-line{
		background: #363636;
		.navbar-toggle{
			color: #fff;
			.icon-bar{
				background: #666;
			}
		}
	}
	.line-menu{
		a{
			color: #fff;
			text-transform: uppercase;
			font-size: 12px;
			padding: 3px 10px;
			background-color: transparent;
			sup{
				color: #f8be22;
				font-weight: bold;
			}
			&:hover{
				color: #f8be22;
			}
		}
	}
	.nav-kab{
		li:first-child{
			a{border: none}
		}
		a{
			color: #fff;
			font-size: 12px;
			padding: 0 10px;
			margin-top: 3px;
			background-color: transparent;
			border-left: 1px solid #f8be22;
			&:hover{
				color: #f8be22;
			}
		}
	}
	.logo{
		display: table;
		text-decoration: none;
		margin: 10px 0;
	}
	.navbar-top{
		margin-top: 10px;
		background: #f5f5f5;
		.navbar-header .icon-bar{
			background: #363636;
		}
	}
	#menu-top{
		position: relative;
		padding: 0 25px;
		@media (max-width:768px) {padding: 0; }
		.navbar-nav{
			&>li{
				position: inherit;
				&.sale{
					position: relative;
					a{
						color: #dc0a2d;
						&:before{
							position: absolute;
							content: "";
							display: block;
							background: url("../img/icon/icon-8.png") no-repeat 0 0 transparent;
							width: 12px;
							height: 12px;
							top: 10px;
							right: 15px;
						}
					}
				}
				&>a{
					color: #363636;
					font-weight: bold;
					font-size: 14px;
					text-transform: uppercase;
					padding: 20px 28px;
					@media (max-width:1170px) {padding: 20px 17px; }
					@media (max-width:768px) {padding: 20px 6px; }
					&:hover{
						color: #f8be22;
					}
				}
				&.active>a{
					color: #f8be22;
				}
				.dropdown-menu{
					left: -15px;
					padding-top: 10px;
					border: none;
					box-shadow: none;
					border-radius: 0;
					.container{
						background: #f5f5f5;
						padding-top: 25px;
						padding-bottom: 25px;
					}
					.title{
						color: #363636;
						font-weight: bold;
						font-size: 14px;
						text-transform: uppercase;
						&:hover{
							color: #f8be22;
						}
					}
					.dropdown-menu-level2{
						display: table;
						float: left;
						width: 19.5%;
						margin: 0;
						padding: 0;
						list-style: none;
						li{
							padding-left: 20px;
							&:hover,
							&.active{
								background: url("../img/icon/icon-9.png") no-repeat 3px center transparent;
								a{
									color: #f8be22;
								}
							}
							a{
								color: #363636;
								font-size: 14px;
								font-weight: 200;
								padding: 7px 0;
								&:hover{
									color: #f8be22;
								}
							}
						}
					}
				}
			}
		}
	}
}
//=======================================
footer{
	background: #f5f5f5;
	color: #fff;
	height: 185px;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 25px 0 0 0;
	.title{
		font-weight: 600;
		color: #363636;
		margin-bottom: 10px;
	}
	ul{
		margin: 0;
		padding: 0;
		list-style: none;
		&.colon2{
			li{
				width: 50%;
				float: left;
			}
		}
		a{
			color: #363636;
			font-size: 14px;
			font-weight: 400;
		}
	}
}
//=======================================
.main-content{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 16px;
	p{
		margin: 0;
		padding:0 0 20px 0;
	}
}
.title-page{
	text-transform: uppercase;
	font-size: 22px;
}
//=======================================
@import  "_block.scss";
//=======================================
